* {
    margin: 0;
}
.hidden {
    display: none;
}

main {
    margin: 0;
    background-color: #aab3ffb0;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    text-align: center;
    overflow: hidden;
    height: 100vh;
}
.human, .computer {
  background-color: #CB7AF3;
  width: 20%;
  justify-content: flex-start;

}
.center {
    width: 60%;
    justify-content: center;
}
.choose-game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: pink;
    color: white;
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 40px;
}

.option {
    cursor:pointer;
    border: none;
}

img {
    height: 25vh;
}
